<template>
    <div>
        
        <div class="form-inline">
            
            <modallink v-if="criar && modal" tipo="button" nome="criar" titulo="Novo" css=""></modallink>            
        </div>
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th v-for="titulo in titulos" v-bind:key="titulo.id">{{titulo}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in itens" v-bind:key="item.id">
                    <td v-for="i in item" v-bind:key="i.id">{{i}}</td>
                    <td v-if="detalhe || editar || excluir">
                        <form v-bind:id="index" v-if="excluir && token" v-bind:action="excluir + item.id" method="POST">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <input type="hidden" name="_token" v-bind:value="token"/> 

                            <modallink v-if="editar && modal" v-bind:url="editar" tipo="button" v-bind:item="item" nome="editar" titulo="Editar" css=""></modallink>
                            <a href="#" v-on:click="executaForm(index)" class="btn btn-danger">Excluir</a>
                        </form>

                        <spam v-if="!token">
                            <modallink v-if="editar && modal" v-bind:url="editar" tipo="button" v-bind:item="item" nome="editar" titulo="Editar" css=""></modallink>                      
                            <a v-if="excluir" v-bind:href="excluir" class="btn btn-danger">Excluir</a>
                        </spam>

                        <spam v-if="token && !excluir">
                            <modallink v-if="editar && modal" v-bind:url="editar" tipo="button" v-bind:item="item" nome="editar" titulo="Editar" css=""></modallink>                        
                        </spam>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props : ['titulos','itens','criar','detalhe','editar','excluir','token','modal'],

        methods:{
            executaForm: function(index){
                document.getElementById(index).submit();
            }
        },
        computed:{
            lista:function(){
                this.$store.commit('setItens',{});
            }
        }
    }
</script>
